extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h2= treasure.name
    .panel.panel-default
    .panel-body
      .row
        .col-xs-6#show
          h3 Map:
          #map(style='height:200px;', data-name='#{treasure.loc.name}', data-lat='#{treasure.loc.lat}', data-lng='#{treasure.loc.lng}')
        .col-xs-6
          h3 Photos:
          each photo in treasure.photos
            .photo(style='background-image:url(#{photo})')
      .row
        .col-xs-12
          h3= treasure.name
      .row
        .col-xs-6
          h5 Hints
          ol
            each hint in treasure.hints
              li= hint
        .col-xs-6
          form(role='form', method='post', action='/treasures/#{treasure._id}/found')
            unless treasure.isFound
              button.btn.btn-primary.btn-lg(type='submit') Found It!!
            else
              a.btn.btn-primary.btn-lg(href='/treasures') View Treasures

block scripts
  script(src='/js/user/show.js')

